html {
    font-size: 13px !important;
}

.fs-7{
    font-size: 0.95rem !important;
}

body.app-body {
    background-color: #F9F9F9;
}

body.app-body a {
    text-decoration: none;
}

body .app-container{
    font-size: 13px !important;
    font-weight: 400;
    font-family: Inter, Helvetica, sans-serif;
}

.app-container {
    padding: 0 30px 0 30px;
    background-color: #F9F9F9;
}

.app-container button.btn {
    padding: calc(.55rem + 1px) calc(1rem + 1px);
}

header .page-head .page-title {
    color: #071437;
}

header .campaign-wrapper .dropdown {
    color: #4B5675;
}

header .campaign-wrapper .dropdown .btn {
    width: 170px;
}

header .campaign-wrapper>a.btn {
    background-color: #3acf6d;
    height: calc(1.5em + 1.1rem);
    width: calc(1.5em + 1.1rem);
}

header .campaign-wrapper>a.btn:hover {
    background-color: #04B440;
    height: calc(1.5em + 1.1rem);
    width: calc(1.5em + 1.1rem);
}

header .card, #user-overview-container .card {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
}

header .card #card-header>img {
    height: 200px;
}

header .card #profile-pic {
    top: 60%;
    left: 30px;
}

header .card #profile-pic-container .rounded-circle {
    height: 15px;
    width: 15px;
    background-color: #17C653;
    top: 65%;
    transform: translate(-65%, -50%);
}

header .card #profile-pic-container img {
    height: 125px;
    width: 125px;
    border-radius: 20px;
}

header .card .card-body {
    padding: 50px 30px 30px 30px;
}

@media (width<708px) {
    header .card .card-body {
        flex-direction: column;
    }
    header .card .card-body #button-group{
        align-self: unset !important;
    }
}

header .card #button-group button:first-child, #user-overview-container .row .card .card-body #button-group button:first-child {
    margin-right: 0.75rem;
}

nav.app-container {
    margin: 30px 30px 15px 30px;
    background-color: #F1F1F4;
}

nav .nav-pills .nav-item .nav-link.active, nav .nav-pills .nav-item .nav-link:hover {
    color: #252F4A;
    background-color: #FFFFFF;
}

.row>* {
    padding: 15px !important;
}

@media (width <= 768px) {
    .row>* {
        padding: 15px 0 !important;
    }
}

#user-overview-container .row .card {
    border: 1px solid #F1F1F4;
    border-radius: 0.625rem;
}

#user-overview-container .row .card .card-body {
    padding: 2.25rem;
}

#user-overview-container .row .card .card-body #header .card-title {
    font-size: 1.275rem;
    color: #071437;
}

#user-overview-container .row .card .card-body #header .card-subtitle {
    font-size: 1.075rem;
    color: #99A1B7;
}

#user-overview-container .row .card .card-body #header #more-btn {
    padding: 0 3px;
    background-color: #99A1B730;
    color: #99A1B7;
}

#user-overview-container .row .card .card-body #body>div {
    border-bottom: 1px dashed #DBDFE9;
    padding: 0.75rem 0;
}

#user-overview-container .row .card .card-body #body>div:last-child {
    border-bottom: none;
}

#user-overview-container .row .card .card-body #body>div span {
    font-size: 1.075rem;
}

/* 1st card only start*/
#user-overview-container .row .card .card-body #body>div>span {
    color: #4B5675;
}

#user-overview-container .row .card .card-body #body div div span:nth-child(3) {
    color: #99A1B7;
}
/* 1st card only end*/

/* 2nd card only start*/
#user-overview-container .row .card .card-body #body>div>i {
    color: #99A1B7;
}
/* 2nd card only end*/

/* 3rd card only start*/
#user-overview-container .row .card .card-body>div>span {
    font-size: 1.75rem;
    color: #252F4A;
}

#user-overview-container .row .card .card-body>div>img {
    padding: 2.5rem 0;
}
/* 3rd card only end*/

footer.app-container {
    background-color: #FFFFFF;
    margin-top: 15px;
}

footer #copyright-container {
    width: 10.5%;
}

footer #copyright-container #copyright, header .page-head .breadcrumb .breadcrumb-item, header .page-head .breadcrumb .breadcrumb-item a, header .card .card-body .card-text #user-info i, header .card .card-body .card-text #user-info a {
    color: #99A1B7;
}

footer #copyright-container #author, header .card .card-body .card-title {
    color: #252F4A;
}

footer #menu {
    width: 14%;
}

footer #menu a, header .card .card-body .card-text p, nav .nav-pills .nav-item .nav-link {
    color: #78829D;
}

footer #menu a:hover, footer #copyright-container #author:hover, header .page-head .breadcrumb .breadcrumb-item a:hover, header .card .card-body .card-text #user-info a:hover {
    color: #1B84FF;
}
